@charset "UTF-8";
     
nav ul li a:hover, nav ul li a.active {
    background-color: rgba(0,0,0,.1);
   }

footer { padding-left: 0; }
    
.nav-bg{ background-color: rgb(0,0,0,0.8); }

.carousel .carousel-item{ width:40em; }

p{ text-align:justify; }

.pb2{ padding-bottom:2em; }
.pt1{ padding-top: 1em; }
.pt4{ padding-top: 4em; }
.pt6{ padding-top: 6em; }
.pl2{ padding-left: 2em; }

.logo-div{
	padding-top:0.7em !important;
	width: 10em;
	height:auto;
}

/* İLETİŞİM */

/* label color */
.input-field label {
   color: white !important;
}
/* label focus color */
.input-field input[type=text]:focus  + label { color:#4a148c !important; }
textarea.materialize-textarea:focus  + label { color:#4a148c !important; }
.input-field input[type=email]:focus + label { color:#4a148c !important; }
 
/* label underline focus color */
.input-field input[type=text]:focus, 
.input-field input[type=email]:focus, 
.input-field input[type=password]:focus, 
.input-field input[type=number]:focus, 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #4a148c !important;
    box-shadow: 0 1px 0 0 #4a148c !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
   color: #4a148c !important;
}


/* REFERANSLAR */
.refs{

}
.ref-item{
    width:25px;
    height:auto;
}