@charset "UTF-8";
     


footer { padding-left: 0; }

.fullWidth{ width:100%; }

.carousel .carousel-item{ width:40em; }

.pb2{ padding-bottom:2em; }
.pt1{ padding-top: 1em; }
.pt2{ padding-top: 2em; }
.pt4{ padding-top: 4em; }
.pt6{ padding-top: 6em; }
.pl2{ padding-left: 2em; }
.pl1{ padding-left: 1em; }
.pr1{ padding-right: 1em; }
.plr1{ padding-left: 1em; padding-right: 1em;
}

/* NAVIGATION BAR */
.logo-div{
	padding-top:0.7em !important;
}
nav ul li a.active { background-color: rgba(0, 0, 0, 0.1); }
nav ul li a        { color:#00acc1;}
nav ul li a:hover  { color:white !important;}
nav ul li.b1:hover { background-color: #e57373 !important; }
nav ul li.b2:hover { background-color:#00bfa5 !important; }
nav ul li.b3:hover { background-color: #29b6f6  !important; }
nav ul li.b4:hover { background-color: #26c6da !important; }
nav ul li.b5:hover { background-color: #1de9b6 !important; }
nav ul li.b6:hover { background-color: #ce93d8 !important; }


nav ul.side-nav li a{ color:#00bcd4; }

/* İLETİŞİM */

/* label color */
.input-field label {
   color: white !important;
}
/* label focus color */
.input-field input[type=text]:focus  + label { color:#4a148c !important; }
textarea.materialize-textarea:focus  + label { color:#4a148c !important; }
.input-field input[type=email]:focus + label { color:#4a148c !important; }
 
/* label underline color */
.input-field input[type=text],
.input-field input[type=email], 
.input-field input[type=password], 
.input-field input[type=number],
textarea.materialize-textarea:not([readonly]) {
    border-bottom: 0.5px solid white !important;
    box-shadow: 0 0.5px 0 0 white !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, 
.input-field input[type=email]:focus, 
.input-field input[type=password]:focus, 
.input-field input[type=number]:focus, 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #4a148c !important;
    box-shadow: 0 1px 0 0 #4a148c !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
   color: #4a148c !important;
}


/* REFERANSLAR */

.ref-item{
    padding-bottom:10em;
}
.ref-item-text{
    margin-top:-6px; 
    padding:0.5em;
}

/* Carousel < > okları */

  .middle-indicator{
   position:absolute;
   top:50%;
   }
  .middle-indicator-text{
   font-size: 5rem;
  }
 
 




