<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">


  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a modern responsive CSS framework based on Material Design by Google. ">

  <title>GENOTIP ESTETİK</title>

</head>

<body>

  <div ng-app="Demo_App">
    <div ng-controller="Demo_CTRL">

      <div class="navbar-fixed" style="z-index: 998;">
      
        <nav style="background-color: rgba(255,255,255,0.9);">
          <div class="nav-wrapper ">

              <a href="#" class="brand-logo cyan-text">
                <img class="responsive-img" style="width:9em; padding-top: .4em;" src="img/logo.png">
              </a>
              <a href="#" data-activates="side-out" class="button-collapse right cyan-text">
                <i class="material-icons cyan-text">menu</i>
              </a>

              <ul class="right hide-on-med-and-down light">
                <li class="b1">
                  <a href="#anasayfa" ng-bind="Cevir.b1 | translate" >ANASAYFA</a>

                </li>
                <li class="b2">
                  <a href="#hakkimizda" ng-bind="Cevir.b2 | translate"  >HAKKIMIZDA</a>
                </li>
                <li class="b3">
                  <a href="#referanslar" ng-bind="Cevir.b3 | translate"  >REFERANSLAR</a>
                </li>
                <li class="b4">
                  <a href="#ozellikler" ng-bind="Cevir.b4 | translate"  >ÖZELLİKLER</a>
                </li>
                <li class="b5">
                  <a href="#galeri" ng-bind="Cevir.b5 | translate"  >GALERİ</a>
                </li>
                <li class="b6">
                  <a href="#iletisim" ng-bind="Cevir.b6 | translate" >İLETİŞİM</a>
                </li>
                <li class="pr1">
                  <a href="#dil" class="dropdown-button" data-activates='dropdown-diller'>
                    <span>DİL/LANG</span>
                  </a>
                </li>

              </ul>

              <ul id="side-out" class="side-nav">
                <li class="b1">
                  <a href="#anasayfa" ng-bind="Cevir.b1 | translate"  >ANASAYFA</a>
                </li>
                <li class="b2">
                  <a href="#hakkimizda" ng-bind="Cevir.b2 | translate"  >HAKKIMIZDA</a>
                </li>
                <li class="b3">
                  <a href="#referanslar" ng-bind="Cevir.b3 | translate" >REFERANSLAR</a>
                </li>
                <li class="b4">
                  <a href="#ozellikler" ng-bind="Cevir.b4 | translate" >ÖZELLİKLER</a>
                </li>
                <li class="b5">
                  <a href="#galeri" ng-bind="Cevir.b5 | translate" >GALERİ</a>
                </li>
                <li class="b6">
                  <a href="#iletisim" ng-bind="Cevir.b6 | translate" >İLETİŞİM</a>
                </li>
                <li>
                  <a href="#dil" class="dropdown-button" data-activates='dropdown-diller-side-nav'>
                    <span>DİL/LANG</span>
                  </a>
                </li>
              </ul>

              <!-- Dropdown Structure -->
              <ul id='dropdown-diller' class='dropdown-content'>
                <li class="valign-wrapper" ng-click="changeLanguage('tr_TR')" >
                  <img src="img/language/turkey.svg" style="width:5em; padding:.3em;">
                  <span class="title " ng-bind="Cevir.btn_tr | translate"></span>
                </li>
                <li class="divider"></li>
                <li class="valign-wrapper" ng-click="changeLanguage('en_EN')" >
                  <img src="img/language/united-kingdom.svg" style="width:5em; padding:.3em;">
                  <span class="title" ng-bind="Cevir.btn_en | translate"></span>
                </li>
              </ul>

              <ul id='dropdown-diller-side-nav' class='dropdown-content fullWidth cyan-text'>
                <li class="valign-wrapper" ng-click="changeLanguage('tr_TR')" >
                  <img src="img/language/turkey.svg" style="width:4em; padding:.3em;">
                  <span class="title" ng-bind="Cevir.btn_tr | translate"></span>
                </li>
                <li class="valign-wrapper" ng-click="changeLanguage('en_EN')" >
                  <img src="img/language/united-kingdom.svg" style="width:4em; padding:.3em;">
                  <span class="title" ng-bind="Cevir.btn_en | translate"></span>
                </li>
              </ul>
          </div>
        </nav>
      </div>

      <div id="blue" class="block">
        <div id="anasayfa" class="scrollspy pb2">

          <div class="slider">
            <ul class="slides">
              <li>
                <img src="img/anasayfa/pp2.jpg">
                <div class="caption right-align">
                  <h3 class="brown-text" ng-bind="Cevir.banner1t1| translate" ></h3>
                  <h5 class="light brown-text text-lighten-1" ng-bind="Cevir.banner1t2| translate"></h5>
                </div>
              </li>
              <li>
                <img src="img/anasayfa/pp3.jpg">
                <div class="caption left-align">
                  <h3 ng-bind="Cevir.banner2t1| translate"></h3>
                  <h5 class="light grey-text text-lighten-3" ng-bind="Cevir.banner2t2| translate"></h5>
                </div>
              </li>
              <li>
                <img src="img/anasayfa/pp4.jpg">
                <div class="caption center-align">
                  <h3 class="black-text" ng-bind="Cevir.banner3t1| translate"></h3>
                  <h5 class="light black-text" ></h5>
                </div>
              </li>
              <li>
                <img src="img/anasayfa/pp5.jpg">
                <div class="caption left-align" >
                  <h3 ng-bind="Cevir.banner4t1| translate"></h3>
                  <h5 class="light grey-text text-lighten-3" ng-bind="Cevir.banner4t2| translate"></h5>
                </div>
              </li>
              <li>
                <img src="img/anasayfa/pp1.jpg">
                <div class="caption left-align">
                  <h3 class="cyan-text text-darken-4" ng-bind="Cevir.banner5t1| translate"></h3>
                  <h5 class="light cyan-text text-darken-3 " ng-bind="Cevir.banner5t2| translate"></h5>
                </div>
              </li>
            </ul>
          </div>
          <div class="container light teal-text text-accent-4 ">
            <div class="row pt4">
                <img src="img/devices/devices.png" class="responsive-img">
            </div>
            <div class="row center-align">
              <h5 class="light" ng-bind="Cevir.bannerAlti| translate"></h5>
            </div>
          </div>

        </div>
      </div>

      <div class="teal accent-4 thin white-text">
        <div id="hakkimizda" class="scrollspy pb2 pt4">
          <div class="container">

            <div class="row">
              <div class="col l12 s12">

                <h1 class="thin" ng-bind="Cevir.hakkimizdaBaslik | translate"></h1>
                <p ng-bind="Cevir.hakkimizda| translate"></p>
              </div>
            </div>
            <div class="row">
              <div class="col s12 l6">
                <h2 class="thin" ng-bind="Cevir.vizyonumuzBaslik| translate"></h1>
                  <p ng-bind="Cevir.vizyonumuz| translate"></p>
              </div>
              <div class="col s12 l6">
                <h2 class="thin" ng-bind="Cevir.misyonumuzBaslik| translate"></h1>
                  <p ng-bind="Cevir.misyonumuz| translate"></p>
                  <br>
                  <br>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="white">
        <div id="referanslar" class="scrollspy pb2 pt6">

          <div class="container">
            <h2 class="thin  light-blue-text text-lighten-1" ng-bind="Cevir.b3| translate"></h2>
            <div class="row">

              <div class="col s3 m2 l2 ref-item">
                <a href="#">
                  <div class="card  light-blue lighten-1 white-text">
                    <img class="responsive-img" src="img/referanslar/ref-logo1.jpg">
                    <div class="ref-item-text light">Şirket adı</div>
                  </div>
                </a>
              </div>
              
            </div>
          </div>

        </div>
      </div>

      <div class="cyan lighten-1">
        <div id="ozellikler" class="scrollspy pb2 ">

          <div class="carousel center">
            <div class="carousel-fixed-item center middle-indicator fullWidth">
              <div class="left">
                <a href="Previo" class="movePrevCarousel white-text waves-effect waves-light"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
              </div>
             
              <div class="right">
                <a href="Siguiente" class=" moveNextCarousel white-text waves-effect waves-light"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
              </div>
            </div>
         

            <div class="carousel-item" >
              <img src="img/devices/pc-giris.png">
            </div>
            <div class="carousel-item">
              <img src="img/devices/pc-musteri-bilgisi.png">
            </div>
            <div class="carousel-item" >
              <img src="img/devices/pc-randevu.png">
            </div>
            <div class="carousel-item" >
              <img src="img/devices/phone-giris.png">
            </div>
            <div class="carousel-item" >
              <img src="img/devices/phone-musteri-bilgisi.png">
            </div>
            <div class="carousel-item" >
              <img src="img/devices/phone-randevu.png">
            </div>
            <div class="carousel-item" >
              <img src="img/devices/tablet-giris.png">
            </div>
            <div class="carousel-item" >
              <img src="img/devices/tablet-musteri-bilgisi.png">
            </div>
            <div class="carousel-item" >
              <img src="img/devices/tablet-randevu.png">
            </div>
        
          </div>
          <br>
          <div class="container white-text thin">
              <span ng-repeat="data in Ozellikler">
                <h4 class="light valign-wrapper"><i class="material-icons medium">stars</i>&nbsp;&nbsp; {{data.baslik | translate}}</h4>
                <p>{{data.icerik | translate}}</p>
              </span>
          </div>
        </div>
      </div>

      <div class="teal accent-3 white-text">
        <div id="galeri" class="scrollspy pb2 pt4">

          <div class="container">
            <h2 class="thin" ng-bind="Cevir.b5| translate"></h2>
            <div class="popup-gallery">
              <div class="row">
                <div class="col l3 m3 s4">
                  <a href="img/referanslar/ref-logo1.jpg" title="The Cleaner">
                    <img src="img/referanslar/ref-logo1.jpg" class="responsive-img pt1">
                  </a>
                </div>
                <div class="col l3 m3 s4">
                  <a href="img/referanslar/ref-logo1.jpg" title="The Cleaner">
                    <img src="img/referanslar/ref-logo1.jpg" class="responsive-img pt1">
                  </a>
                </div>
                <div class="col l3 m3 s4">
                  <a href="img/referanslar/ref-logo1.jpg" title="The Cleaner">
                    <img src="img/referanslar/ref-logo1.jpg" class="responsive-img pt1">
                  </a>
                </div>
                <div class="col l3 m3 s4">
                  <a href="img/referanslar/ref-logo1.jpg" title="The Cleaner">
                    <img src="img/referanslar/ref-logo1.jpg" class="responsive-img pt1">
                  </a>
                </div>
                <div class="col l3 m3 s4">
                  <a href="img/referanslar/ref-logo1.jpg" title="The Cleaner">
                    <img src="img/referanslar/ref-logo1.jpg" class="responsive-img pt1">
                  </a>
                </div>
              </div>
              
          

            </div>
          </div>

        </div>
      </div>

      <div class=" purple lighten-3 white-text">
        <div id="iletisim" class="scrollspy pb2 pt4">

          <div class="container">
            <h2 class="thin" ng-bind="Cevir.b6| translate"></h2>
            <div class="row">
              <div class="col s12 m6 l6">

                <div class="input-field">
                  <i class="material-icons prefix">person</i>
                  <input id="name" type="text" class="validate">
                  <label for="name" ng-bind="Cevir.isimSoyisim| translate"></label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">phone</i>
                  <input id="phone" type="text" class="validate">
                  <label for="phone" ng-bind="Cevir.telefon| translate"></label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">mail</i>
                  <input id="email" type="email" class="validate">
                  <label for="email" data-error="wrong" data-success="right" ng-bind="Cevir.email| translate"></label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">title</i>
                  <input id="title" type="text" class="validate">
                  <label for="title" ng-bind="Cevir.konuBaslik| translate"></label>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">mode_edit</i>
                  <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                  <label for="icon_prefix2" ng-bind="Cevir.mesaj| translate"></label>
                </div>
                <button class="btn waves-effect waves-light right deep-purple darken-2" id="action" type="submit" name="action">
                  <span ng-bind="Cevir.gonder | translate"></span>
                  <i class="material-icons right">send</i>
                </button>
              </div>

              <div class="col s12 m6 l6">
                <div class="row pt1 pl2">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10260.258149872028!2d29.041365992416548!3d40.990099656283626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac78a00cfe22b%3A0x1a7a21680f8f497c!2sGeno+Tip!5e0!3m2!1sen!2str!4v1516374826925" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="row thin pl2">

                  <div class="col l6">
                    <h5 class="light">İstanbul Şubesi</h5>
                    <p>
                      <span>Eğitim Mah. Muratpaşa Cad. Çakmakçı Apt. No:7/12 Ziverbey Kadıköy</span>
                      <br>
                      Tel:<span>216 345 03 78</span> 
                    </p>
                  </div>
                  <div class="col l6">
                    <h5 class="light">Ankara Şubesi</h5>
                    <p>
                      <span>Emek Mah. 23. Sk. No 6/9 Çankaya</span>
                      <br> Tel:<span> 312 419 53 36</span> 
                      <br> Faks:<span> 312 418 76 47</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <footer class="page-footer cyan darken-1 light">
        
        <div class="container pt2">
          <div class="row">

            <div class="col l5 s12">
              <div class="row center-align plr1">
                <div class="col l6 s6">
                  <a class="btn-floating valign-wrapper" ng-click="changeLanguage('tr_TR')" >
                    <img src="img/language/turkey.svg" style="">
                  </a>
                  <span class="white-text" ng-bind="Cevir.btn_tr | translate"></span>
                  
                </div>
                <div class="col l6 s6">
                  <a class="btn-floating valign-wrapper" ng-click="changeLanguage('en_EN')" >
                    <img src="img/language/united-kingdom.svg" style="">
                  </a>
                  <span class="white-text" ng-bind="Cevir.btn_en | translate"></span>
                  
                </div>
              </div>
              <div class="divider"></div>
              <div class="row center-align plr1">
                <p ng-bind="Cevir.takipet | translate"></p>
                <div class="col l3 s3">
                  <a href="#" class="btn-floating white"><img style="height:100%; width:auto;" src="img/sosyal-medya/facebook.svg"></a>
                </div>
                <div class="col l3 s3">
                  <a href="#" class="btn-floating white"><img style="height:100%; width:auto;" src="img/sosyal-medya/twitter.svg"></a>
                </div>
                <div class="col l3 s3">
                  <a href="#" class="btn-floating white"><img style="height:100%; width:auto;" src="img/sosyal-medya/instagram.svg"></a>
                </div>
                <div class="col l3 s3">
                  <a href="#" class="btn-floating white"><img style="height:100%; width:auto;" src="img/sosyal-medya/google-plus.svg"></a>
                </div>
              </div>
            </div>

            <div class="col l7 s12">
              <div class="row valign-wrapper plr1 pt1">
                <i class="material-icons prefix">mail</i>
                <span class="pl1">bilgi@genotıp.com</span>
              </div>
              <div class="row valign-wrapper plr1">
                <i class="material-icons prefix">phone</i>
                <span class="pl1">(216) 345 03 78</span>
              </div>
              <div class="row valign-wrapper plr1">
                <i class="material-icons prefix">business</i>
                <span class="pl1">Eğitim Mah. Muratpaşa Cad. Çakmakçı Apt. No:7/12 Ziverbey Kadıköy</span>
              </div>
            </div>

          </div>
        </div>

        <div class="footer-copyright">
          <div class="container">
            © Copyright 2018 Genyazılım İş Süreçleri Yönetimi 
            <a class="grey-text text-lighten-4 right" href="#">
            Tasarım ve Kodlama: BK</a>
          </div>
        </div>

      </footer>

    </div>
  </div>







  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-translate.min.js"></script>
  <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>

  <script>
   

    $(document).ready(function () {

      Materialize.updateTextFields();
      $('#textarea1').val('New Text');
      $('#textarea1').trigger('autoresize');
      $('.scrollspy').scrollSpy({
        scrollOffset: 0
      });

       $('.carousel').carousel();


       // move next carousel
       $('.moveNextCarousel').click(function(e){
          e.preventDefault();
          e.stopPropagation();
          $('.carousel').carousel('next');
       });

       // move prev carousel
       $('.movePrevCarousel').click(function(e){
          e.preventDefault();
          e.stopPropagation();
          $('.carousel').carousel('prev');
       });


      $('.slider').slider();
      $('.parallax').parallax();
      $('.materialboxed').materialbox();
      $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: 200, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left', // Displays dropdown with edge aligned to the left of button
            stopPropagation: false // Stops event propagation
          }
        );
      
      // Initialize collapsible (uncomment the line below if you use the dropdown variation)
      $('.collapsible').collapsible();
      $('.button-collapse').sideNav({
               menuWidth: 220, // Default is 240
               edge: 'left', // Choose the horizontal origin
               closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
               draggable: true // Choose whether you can drag to open on touch screens
           });

      //GALERİ
      $('.popup-gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
          enabled: true,
          navigateByImgClick: true,
          preload: [0,1] // Will preload 0 - before current, and 1 after the current image
        },
        image: {
          tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
          titleSrc: function(item) {
            return item.el.attr('title');
          }
        }
      });

      //EMAIL GONDERME
      $('#action').click(function(){
        var name = $('#name').val();
        var phone = $('#phone').val();
        var email = $('#email').val();
        var title = $('#title').val();
        var message = $('#message').val();

        var mailData = 'name=' + name + 'phone=' + phone + '&email=' + email + 'title=' + title + 'message=' + message;
        $.ajax({
          url: "http://192.168.3.150:8090/mailtest/api/values",
          type: "POST",
          data:mailData,
          success: function(){
            alert("Mailiniz başarıyla gönderilmiştir!")
          }
        });
      });
    });

    //LANGUAGE - DİL
    var app = angular.module("Demo_App", ['pascalprecht.translate']);
    app.controller("Demo_CTRL", ['$translate', '$scope', '$http', function ($translate, $scope, $http) {

            //Sayfa başlangıcında türkçe dil ile çağırma kodu. tr_TR.json dosyasını başka dil ile en_EN.json ile değiştiğinde sayfa ingilizce açılır.
            $http({
                method: 'GET',
                url: 'lang/tr_TR.json' //dil dosyası yolu
                }).then(function successCallback(translateData) {
                    angular.extend($scope, translateData.data);
                }, function errorCallback(translateData_Error) {
            });

            $scope.changeLanguage = function (langKey) {
              
              //Button event dil seçimi sırasında gerçekleşen olay.
              $translate.use(langKey);
              $http({
                  method: 'GET',
                  url: 'lang/' + langKey + '.json'
                  }).then(function successCallback(translateData) {
                      angular.extend($scope, translateData.data);
                  },function errorCallback(translateData_Error) {

              });
           
            };  

    }]);




  </script>
</body>

</html>